/* 	If you're reading this then I welcome you to the ever-changing home of Patrick's CSS.
		I'll probably change this so ever often. Here I keep a record of how frequently I make changes. 
		Often they aren't big, but changes nonetheless.

		Changelog (yes I know github does this for me too)
		Date: July 13, 2013;
	
*/

/* Global */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-font-smoothing: antialiased;}

/* Fonts */
h1, h2, h3, 
h4, h5, h6 { color: #fafafa; text-align: center; }

h1 {
	font-family: "source-sans-pro-1","source-sans-pro-2",sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 1.750em;
	text-transform: uppercase;
}

h2, p { 
	font-family: "kepler-std-1","kepler-std-2",serif;
	font-style: normal;
}

h2 {
	margin-top: -25px;
	font-size: 1.125em;
	font-weight: 500;
}

p {
	font-size: 1.500em;
	line-height: 1.725em;
	color: #414141;
	font-weight: 300;
}

/* Links */
a:link 		{color: #414141; font-variant: italic; text-decoration: none; margin: 0; padding: 0;}
a:active 	{color: #414141; font-variant: italic; text-decoration: none; margin: 0; padding: 0;}
a:hover		{color: #414141; font-variant: italic; text-decoration: none; margin: 0; padding: 0;}
a:visited	{color: #414141; font-variant: italic; text-decoration: none; margin: 0; padding: 0;}

a.work:link 		{color: #ED008B; font-variant: italic; text-decoration: none; margin: 0; padding: 0;}
a.work:active 	{color: #ED008B; font-variant: italic; text-decoration: none; margin: 0; padding: 0;}
a.work:hover		{color: #ED008B; font-variant: italic; text-decoration: none; margin: 0; padding: 0;}
a.work:visited	{color: #ED008B; font-variant: italic; text-decoration: none; margin: 0; padding: 0;}

/* General */
.wrapper, 
.hero {
	width: 100%;
}

.wrapper {
	max-width: 725px;
	margin: 75px auto;
}

.hero {
	height: 445px;
	padding: 10px 0;
	background-image: url("../img/brdg.jpg");
	background-repeat: no-repeat;
	background-position: 50% 0;
	 -webkit-background-size: cover;
		-moz-background-size: cover;
		 -ms-background-size: cover;
		  -o-background-size: cover;
			 background-size: cover;
}

	.hero h1 {
		margin: 240px 0 25px;

	}

.info {
	width: 85%;
	margin: auto;
}

	.info .wmhr { color: #2F8E5A; }
	.info .prd 	{ color: #2D6486; }
	.info .mdy 	{ color: #BBB13E; }


footer {
	margin: 40px 0 50px 0;
	font-size: 1.625em;
	text-align: center;
}
	footer ul {
		margin: 0;
		padding: 0;
	}

		footer li { display: inline; }

.octocat 	a:link,
.dribbble a:link,
.twitter 	a:link,
.linkedin a:link,
.email 		a:link {
	-webkit-transition: all .4s ease;
		 -moz-transition: all .4s ease;
			-ms-transition: all .4s ease;
			 -o-transition: all .4s ease;
					transition: all .4s ease;
}

	.octocat 	a:hover { color: #171515; }
	.dribbble a:hover { color: #ea4c89; }
	.twitter 	a:hover { color: #00acee; }
	.linkedin a:hover { color: #0e76a8; }
	.email 		a:hover { color: #246B4A; }



