/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}



ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a:link {
	color:#4c4a4a;
	padding: 0.5px 3px;
	text-decoration: underline;
	}   						
a:visited {
	color:#4c4a4a;
	text-decoration:none;
	}  							

a:active {
	color:#4c4a4a;
	text-decoration:none;
	}  						

a:hover { 
	color:#fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-decoration:none;
	}  							

a#red:hover {
	background-color: #FC6666;
	background-color: rgba(255, 0, 0, 0.4);
	}							

a#blue:hover {
	background-color: #5c5cf5;
	background-color: rgba(0,0,255, 0.4);
} 								

a#green:hover {
	background-color: #5ca85c;
	background-color: rgba(0, 128, 0, 0.4);

}								


/* body styles */
body {
	background-color: #F0EEF5;
	width: 90%;
	margin: auto;
}

#container {
	width: 50%;
	margin: 250px auto;
}

h1 {
	font-size: 3.5em;   /*42px font */
	color: #4c4a4a;
	line-height: 1;
	text-align: center;
	font-family: 'Open Sans', Georgia;
	font-weight: 700;
	padding-bottom: 20px;
}

h2 {
	font-size: 1.5em;	/*24px font*/ 
	color: #4c4a4a;
	line-height: 150%;
	text-align: center;
	font-family: 'Droid Serif', Helvetica, Arial, sans-serif;
}

h3 {
	font-size: 1.25em;	/*20px font*/ 
	color: #4c4a4a;
	line-height: 150%;
	text-align: center;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}




/*=================*\
	Media Queries
\*=================*/



@media screen and (min-width : 320px) and (max-width : 480px){


	#container {
		width: 95%;
		margin: 100px auto;
	}

	h1 {
		font-size: 3em;   	/*48px font*/
		color: #4c4a4a;
		line-height: 1;
		text-align: center;
		font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	}

	h2 {
		font-size: 1.5em;	/*24px font*/
		color: #4c4a4a;
		line-height: 1.75;
		text-align: center;
		font-family: 'Droid Sans', Georgia, serif;
	}

	a:link { 
	color:#fff;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	}  

	a:visited {
	color:#fff;
	text-decoration: none;
	}  	

	a#red:link {
	background-color: #FC6666;
	background-color: rgba(255, 0, 0, 0.6);
	}							/* mouse over color */

	a#blue:link {
	background-color: #5c5cf5;
	background-color: rgba(0,0,255, 0.6);
	} 								/* mouse over color */

	a#green:link {
	background-color: #5ca85c;
	background-color: rgba(0, 128, 0, 0.6);

	}
}



/* device media queries */

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {

	#container {
		width: 95%;
		margin: 100px auto;
	}

	h1 {
		font-size: 8em;   /*24px font*/
		color: #4c4a4a;
		line-height: 1;
		text-align: center;
		font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	}

	h2 {
		font-size: 3.5em;
		color: #4c4a4a;
		line-height: 1.4;
		text-align: center;
		font-family: 'Droid Serif', Georgia, serif ;
	}

	a:link { 
	color:#fff;
	padding: .25px 10px;
	text-decoration: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	}  

	a:visited {
	color:#fff;
	text-decoration:none;
	}  	

	a#red:link {
	background-color: #FC6666;
	background-color: rgba(255, 0, 0, 0.6);
	}							

	a#blue:link {
	background-color: #5c5cf5;
	background-color: rgba(0,0,255, 0.6);
	} 								

	a#green:link {
	background-color: #5ca85c;
	background-color: rgba(0, 128, 0, 0.6);
	}
}